akshare==1.18.19
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asttokens==3.0.1
backports.asyncio.runner==1.2.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
cachetools==6.2.4
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
coverage==7.10.7
cryptography==46.0.3
curl_cffi==0.13.0
decorator==5.2.1
Deprecated==1.3.1
diskcache==5.6.3
ecdsa==0.19.1
et_xmlfile==2.0.0
-e git+https://github.com/nuts2k/ETFTools.git@bd7d9616a4b0ffd5447dddb9e2629afd9fcdce5c#egg=etftool_backend&subdirectory=backend
exceptiongroup==1.3.1
executing==2.2.1
fastapi==0.128.0
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
iniconfig==2.1.0
ipython==8.18.1
jedi==0.19.2
jsonpath==0.82.2
librt==0.7.8
limits==4.2
lxml==6.0.2
matplotlib-inline==0.2.1
mini-racer==0.12.4
mypy==1.19.1
mypy_extensions==1.1.0
numpy==2.0.2
openpyxl==3.1.5
packaging==24.2
pandas==2.3.3
parso==0.8.5
passlib==1.7.4
pathspec==1.0.3
pexpect==4.9.0
pluggy==1.6.0
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.2
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.11.0
pydantic_core==2.41.5
Pygments==2.19.2
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
rsa==4.9.1
ruff==0.14.14
six==1.17.0
slowapi==0.1.9
soupsieve==2.8.3
SQLAlchemy==2.0.46
sqlmodel==0.0.31
stack-data==0.6.3
starlette==0.49.3
tabulate==0.9.0
tomli==2.4.0
tqdm==4.67.1
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.39.0
uvloop==0.22.1
watchfiles==1.1.1
wcwidth==0.3.5
webencodings==0.5.1
websockets==15.0.1
wrapt==2.0.1
xlrd==2.0.2
